<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Profile of <%= data.Name %></title>
</head>

<body>
    <%= data.Name %>
    <%= data.Email %>
    <%= data.Type %>
    <%= data.Password %>
    <%= data.RawPassword %>

    <a href="/logout"><- Logout</a>
</body>

</html>